<nav class="sidebar-nav" data-simplebar="" style="background-color: rgb(156, 156, 169);">
  <ul id="sidebarnav">
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu" >Home</span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link"  aria-expanded="false" [routerLink]="['/dashboard']">
          <span>
            <i class="ti ti-layout-dashboard"></i>
          </span>
          <span class="hide-menu">Dashboard</span>
        </a>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Utilisateurs</span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link"  aria-expanded="false" [routerLink]="['/alluser']">
          <span>
            <i class="ti ti-article"></i>
          </span>
          <span class="hide-menu">Listes client</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" aria-expanded="false" [routerLink]="['/liste-admin']">
          <span>
            <i class="ti ti-alert-circle"></i>
          </span>
          <span class="hide-menu">Listes Admin</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/form-admin']" aria-expanded="false">
          <span>
            <i class="ti ti-alert-circle"></i>
          </span>
          <span class="hide-menu">Ajouter Admin</span>
        </a>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Hotels</span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/form-hotel']" aria-expanded="false">
          <span>
            <i class="ti ti-mood-happy"></i>
          </span>
          <span class="hide-menu">Ajouter Hotels </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/liste-hotel']" aria-expanded="false">
          <span>
            <i class="ti ti-aperture"></i>
          </span>
          <span class="hide-menu">Listes Hotels</span>
        </a>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">AUTH</span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/login']" aria-expanded="false">
          <span>
            <i class="ti ti-login"></i>
          </span>
          <span class="hide-menu">Login</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/register']"aria-expanded="false">
          <span>
            <i class="ti ti-user-plus"></i>
          </span>
          <span class="hide-menu"></span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/register']"aria-expanded="false">
          <span>
            <i class="ti ti-user-plus"></i>
          </span>
          <span class="hide-menu">Register</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/register']"aria-expanded="false">
          <span>
            <i class="ti ti-user-plus"></i>
          </span>
          <span class="hide-menu"></span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/register']"aria-expanded="false">
          <span>
            <i class="ti ti-user-plus"></i>
          </span>
          <span class="hide-menu"></span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/register']"aria-expanded="false">
          <span>
            <i class="ti ti-user-plus"></i>
          </span>
          <span class="hide-menu"></span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" [routerLink]="['/register']"aria-expanded="false">
          <span>
            <i class="ti ti-user-plus"></i>
          </span>
          <span class="hide-menu"></span>
        </a>
      </li>
      
    </ul>
  </nav>