<app-navbar></app-navbar>
<header class="section__container header__container">
  <div class="header__image__container">
    <div class="header__content">
      <h1>Welcome to Tunisia, it's great to meet you!</h1>
      <p>Explore Tunisia, a Mediterranean gem blending rich history, sunny beaches, and warm hospitality. Let yourself
        be charmed by our vibrant culture and iconic landmarks on your next unforgettable getaway.</p>
    </div>
    <div class="booking__container">
      <form>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Location</label>
          </div>
          <p>Where are you going?</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Date D'arrivée</label>
          </div>
          <p>Add date</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Date de départ</label>
          </div>
          <p>Add date</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Guests</label>
          </div>
          <p>Add guests</p>
        </div>
      </form>
      <button class="btn"><i class="ri-search-line"></i></button>
    </div>
  </div>
</header>
<app-footer></app-footer>