<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>

            <!-- Sidebar navigation-->
            <app-sidebar></app-sidebar>

        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  profile -->
        <app-profile></app-profile>
        <!--  Header End -->
        <div class="container-fluid py-0">
            <div class="card py-0">
                <!-- <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
                    <p class="mb-0">This is a sample page Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Labore nam quisquam explicabo obcaecati rem architecto, officia animi possimus beatae eum
                        accusantium, illo recusandae porro non dolorum necessitatibus fugit dignissimos reprehenderit?
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nobis facilis veritatis
                        inventore labore nostrum debitis, quidem consequuntur omnis est sapiente voluptas, eligendi
                        magnam, corporis quasi eum. Minus, est saepe. </p>
                </div> -->
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-stretch">
                      <div class="card w-100">
                        <div class="card-body py-0">
                          <div class="table-responsive">
                            <div *ngIf="users.length > 0; else loading">
                              <h2>Liste des utilisateurs</h2>
                  
                              <!-- Afficher l'alerte si showAlert est true -->
                              <div *ngIf="showAlert" class="alert alert-success" role="alert">
                                Utilisateur supprimé avec succès
                              </div>
                  
                              <table class="table text-nowrap mb-0 align-middle">
                                <thead class="text-dark fs-4">
                                  <tr>
                                    <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">Name</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">LastName</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">Email</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">Action</h6>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let user of users">
                                    <td class="border-bottom-0">
                                      <h6 class="fw-semibold mb-0">{{ user.name }}</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                      <p class="mb-0 fw-normal">{{ user.LastName }}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                      <p class="mb-0 fw-normal">{{ user.email }}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                      <div class="d-flex align-items-center gap-2">
                                        <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Delete</button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <ng-template #loading>
                              <p>Chargement en cours...</p>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
</div>